@font-face {
  font-family: "Gill-Sans";
  src: url(./assets/gill-sans/Gill-Sans.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill-Sans", sans-serif;
  line-height: 1.6;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: #fff;
  border-bottom: 1px solid black;
}

#brand {
  font-size: 2rem;
}

#title {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

#search-social {
  display: flex;
  gap: 0.5rem;
}

#search-social input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 4rem;
}

.blog-post {
  width: 30%;
  /* margin: 1rem; */
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  padding-bottom: 1rem;
}

.blog-post img {
  width: 100%;
  border-radius: 5px;
}

h2 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .blog-post {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .blog-post {
    width: 90%;
  }
}
