:root {
  --font-size: 1rem;
  --title-size: 1.5rem;
  --margin: 2rem;
}

body {
  font-family: "Playfair-Display";
  height: 90vh;
  margin: var(--margin);
  font-size: var(--font-size);
  background-color: #e4dad0;
  color: #3f352b;
}

#lesson-title {
  font-size: var(--title-size);
  text-align: center;
  margin-bottom: var(--margin);
}

#section-title1,
#section-title2 {
  font-weight: 600;
  font-size: var(--font-size);
  margin-bottom: calc(var(--margin) / 4);
}

#section-content1,
#section-content2 {
  /* font-weight: 600; */
  font-size: var(--font-size);
  margin-bottom: calc(var(--margin) / 2);
}

#fixed {
  width: 40vw;
  margin-bottom: var(--margin);
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selections {
  font-family: "Playfair-Display";
  margin-bottom: calc(var(--margin));
  margin-top: calc(var(--margin));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#result {
  text-align: left;
  max-width: 40vw;
  margin-bottom: var(--margin);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

select {
  font-size: var(--font-size);
  font-family: "Playfair-Display";
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #e4dad0;
  background-color: #3f352b;
  color: #e4dad0;
}

button {
  font-size: var(--font-size);
  font-family: "Playfair-Display";
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #3f352b;
  background-color: #e4dad0;
  color: #3f352b;
}

select:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  transition: 0.2s;
  color: #e4dad0;
  border: 1px solid #e4dad0;
  background-color: #3f352b;
}

@font-face {
  font-family: "Playfair-Display";
  src: url("./assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Playfair-Display-Italics";
  src: url("./assets/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
